<!DOCTYPE html> 
<html>
<head>
   <title>Atha</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="jquery.mobile-1.3.2.min.css" />
   <link rel="stylesheet" href="atha.css" />
   <script src="jquery-1.10.2.min.js"></script>
   <script src="jquery.mobile-1.3.2.min.js"></script>
   <script src="atha.js"></script>
</head>

<body>

<div data-role="page" id="${pageId}">
   <div data-role="panel" id="navPanel">
      <ul data-role="listview" data-ajax="false" data-inset="true">
         <li><a href="scenes">Scenes</a></li>
         <li><a href="getLights">Lights</a></li>
         <li><a href="media">Media</a></li>
         <li><a href="devices">Devices</a></li>
         <li><a href="settings">Settings</a></li>
      </ul>
   </div>
   <div data-role="header"><a href="#navPanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menu</a><h1>Atha - ${pageName}</h1></div>
   <div data-role="content">
   ${pageContent}
   </div>
</div>

</body>
</html>
